.presentation_about{

    h1{
        margin-top: 3em;
        margin-bottom: 2em;
        font-size: 36px;
        width: 50%;
        letter-spacing: inherit;
        text-align: center;

        @media screen and (max-width: 900px) {
            width: 100%;
        }
    }

    



}


.text_seo_about{
    padding: 1em;
    max-width: $containermax;
    margin: auto;
    text-align: justify;

    h4{
        margin-top: 2em;
    }

    a{
        color: $red;
    }
}