.assistance,
.assistance_validation
{

    overflow: unset;

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 900px;
        margin: auto;

        @media screen and (max-width: 900px) {
            width: 90%;
        }


        label{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0.7em;
        }

        button{
            margin-top: 1em;
        }
    }
}



.assistance_validation{

    a{
        
            background-color: $blue;
            border: none;
            outline: none;
            font-weight: 900;
            text-transform: uppercase;
            cursor: pointer;
            color: white;
            padding: 0.5em 1em;
            font-size: 1em;
            line-height: 0.9em;
            margin: auto;
            display: block;
            max-width: max-content;
    
            transition: transform 0.1s ease-in-out;
    
            
        }
    
        a:hover{
            transform: scale(1.3) rotate(2deg);
        }
    
}