.appGame{
    display: flex;
    flex-direction: column;
    overflow: visible;

    .message{
        text-align: center;
        margin-top: 2em;
    }

    .nextDay{
        margin:auto;
        margin-top: 3em;
        background-color: $red;

        :hover{

            color: red;
            @media screen and (max-width: 900px) {
                transform: scale(1);
            }
        }

        
    }

    .night{
        background-color: $darkblue;
    }

    .container_btns_endgame{
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        margin-top: 4em;
    }

}