header{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        position: absolute;
        top: 0;
        z-index: 50;
        width: 100%;


        ul{
                display: flex;
                flex-direction: row;

                @media screen and (max-width: 535px) {
                        margin:0px;

                }

                li{
                        margin:0px 3em;
                        transition: all 0.2s ease-in-out;
                        min-width: max-content;

                        


                        &:hover{
                                text-decoration: underline;
                        }


                        @media screen and (max-width: 535px) {
                                margin:0px 0.7em;

                        }
                }
        }

}